.am-banner {
    width: 100%;
    padding: 182px 0 184px 0;
    background-color: #f3ffdb;
}

.am-banner .hr-cntn {
    display: grid;
    grid-template-columns: 1fr 731px;
    align-items: center;
    gap: 56px;
    padding-left: 158px;
}

.am-banner .hr-left-cntn {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.am-banner .hr-left-cntn h2 {
    font-weight: 700;
    font-size: 80px;
    line-height: 103px;
    letter-spacing: -2%;
    text-transform: capitalize;
    color: #353439;
}

.am-banner .hr-left-cntn h1 {
    font-weight: 700;
    font-size: 170px;
    line-height: 103px;
    letter-spacing: -2%;
    text-transform: capitalize;
    color: #C0DE48;
    padding-bottom: 34px;
}

.am-banner .hr-left-cntn p {
    font-weight: 400;
    font-size: 18px;
    line-height: 48px;
    letter-spacing: 0%;
    color: #555770;
}

.am-banner .hr-right-img {
    width: 100%;
    max-width: 811px;
    height: auto;
}

.am-banner .hr-right-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.am-experience {
    width: 100%;
    padding: 125px 0 80px 0;
}

.exp-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
}

.exp-tp-left {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.am-experience .exp-tp-right a.site-btn {
    margin-left: auto;
}

.am-experience .exp-bot-card {
    margin-top: 104px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 19px;
}

.am-experience .exp-bot-card .exp-crd {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 44px;
    padding: 81px 31px 70px 32px;
    background-color: #F3FFDA;
    border-radius: 32px;
}

.am-experience .exp-bot-card .exp-crd:nth-child(2),
.am-experience .exp-bot-card .exp-crd:nth-child(4) {
    background-color: #F2F2F2;
}

.am-experience .exp-bot-card .exp-crd img {
    width: 100%;
    max-width: 109px;
    height: 100%;
}

.am-experience .exp-bot-card .exp-crd h3 {
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -2%;
    text-align: center;
    text-transform: capitalize;
    color: #353439;
}


.am-work {
    width: 100%;
    padding: 0 0 83px 0;
}

.wk-cntn {
    display: flex;
    gap: 64px;
}

.wk-left {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.wk-left .sec-title {
    margin-bottom: 14px;
}

.wk-left p {
    font-size: 18px;
    line-height: 28px;
}

/* 
.wk-right {
    position: relative;
    height: 100%;
} */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.am-cs-care {
    width: 100%;
    margin-bottom: 148px;
}

.cs-care-cntn {
    background-color: #F2F2F2;
    border-radius: 32px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.cs-cr-left {
    width: 42%;
    background-color: #DBDBDB;
    padding: 62px 33px 89px 34px;
}

.cs-cr-left h3 {
    font-weight: 700;
    font-size: 50px;
    line-height: 73px;
    letter-spacing: -2%;
    text-align: center;
    text-transform: capitalize;
    color: #353439;
}

.cs-cr-right {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.cs-cr-right .rg-cntn {
    max-width: 191px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.cs-cr-right .rg-cntn h2 {
    font-weight: 700;
    font-size: 70px;
    line-height: 73px;
    color: #353439;
}

.cs-cr-right .rg-cntn span {
    font-weight: 800;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #353439;
}

.am-open-lc {
    display: inline-block;
    width: 100%;
    margin: 103px 0;
    padding: 127px 0 112px 0;
    /* height: 750px; */
    /* background: rgb(255, 255, 255);
    background: linear-gradient(0deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 1) 25%,
            rgba(0, 0, 0, 1) 25%,
            rgba(0, 0, 0, 1) 75%,
            rgba(255, 255, 255, 1) 75%,
            rgba(255, 255, 255, 1) 100%); */

}

.open-lc-cntn {
    display: grid;
    grid-template-columns: 40% 1fr;
    align-items: center;
    gap: 142px;
    justify-content: space-between;
}

.open-lc-cntn .lc-left {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.open-lc-cntn .lc-right {
    width: 100%;
    max-width: 680px;
    height: 716px;
    overflow: hidden;
}

.open-lc-cntn .lc-right img {
    float: right;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.open-lc-cntn .lc-left .sec-title {
    font-size: 70px;
    line-height: 73px;
}

.am-franchise {
    display: inline-block;
    width: 100%;
    padding: 249px 0 67px 0;
}

.am-franchise .exp-top {
    align-items: flex-start;
}

.am-franchise .exp-top .exp-tp-right {
    padding-top: 33px;
}

.am-franchise .mq-parent {
    margin-top: 190px;
    display: grid;
    grid-template-columns: max-content max-content max-content;
    align-items: center;
    --space: 20px;
    overflow: hidden;
}

.am-franchise .mq-parent .mq-inner {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: var(--space);
    animation: moove 10s linear infinite;
}

@keyframes moove {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

.am-franchise .mq-parent .mq-inner .mq-coll {
    width: 480px;
    height: 477px;
    background-color: #F3FFDA;
    padding: 59px 36px;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-right: var(--space);
}

.am-franchise .mq-parent .mq-inner .mq-coll:nth-child(2),
.am-franchise .mq-parent .mq-inner .mq-coll:nth-child(3) {
    background-color: #F2F2F2;
}

.am-franchise .mq-parent .mq-inner .mq-coll img {
    width: 109px;
    height: 109px;
}

.am-franchise .mq-parent .mq-inner .mq-coll h4 {
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    text-transform: capitalize;
    color: #353439;
}

.am-franchise .mq-parent .mq-inner .mq-coll p {
    font-weight: 400;
    font-size: 20px;
    line-height: 37px;
    color: #555770;
}

.am-guest {
    width: 100%;
    padding-bottom: 100px;
}

.gt-cntn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gt-cntn .gt-left {
    width: 34%;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.gt-cntn .gt-left p {
    font-size: 18px;
    line-height: 38px;
}

.gt-cntn .gt-right {
    width: 60%;
}

.am-contact {
    width: 100%;
    padding-top: 83px;
    background-color: #DBDBDB;
}

.am-contact .contact-cntn {
    padding: 79px 62px 58px 62px;
    background-color: #fff;
    border-radius: 32px;
    max-width: 680px;
}

.am-contact .contact-cntn h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #3D3D3D;
    margin-bottom: 77px;
}

.am-contact .contact-cntn form .input-field {
    background-color: #F3F3F3;
    padding: 21px 20px 19px 18px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
}

.am-contact .contact-cntn form .input-field img {
    width: 24px;
    height: 24px;
}

.am-contact .contact-cntn form .input-field input,
.am-contact .contact-cntn form .input-field select,
.am-contact .contact-cntn form .input-field textarea {
    font-family: Outfit;
    background-color: transparent;
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    text-align: left;
    color: #2E2C2D;
    width: 100%;
}

.am-contact .contact-cntn form h5 {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #2E2C2D;
    padding: 7px 0 16px 0;
}

.am-contact .contact-cntn form .input-field textarea {
    width: 100% !important;
    height: 115px;
    min-height: 115px;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: clip;
}

.am-contact .contact-cntn form button{
    width: 100%;
    display: block;
    padding: 18px 0;
}
.am-footer {
    width: 100%;
    padding: 273px 0 234px 0;
    background-color: #000000;
}

.am-footer .footer-cntn {
    display: grid;
    grid-template-columns: 1fr 620px;
    align-items: flex-end;
    gap: 151px;
}

.am-footer .ft-left {
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.am-footer .ft-left form {
    width: 100%;
    background-color: #FFFFFF;
    padding: 21px 18px 19px 18px;
    border-radius: 16px;
}

.am-footer .ft-left form .input-field {
    display: flex;
    align-items: center;
    gap: 16px;
    max-width: 558px;
}

.am-footer .ft-left form .input-field .in-fd-left {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
}

.am-footer .ft-left form .input-field .in-fd-left label img {
    width: 24px;
    height: 24px;
}

.am-footer .ft-left form .input-field .in-fd-left input {
    width: 100%;
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #000;
    text-transform: capitalize;
}

.am-footer .ft-left form .input-field .in-fd-right button {
    background: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

.am-footer .ft-left h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #FFFFFF;
}

.am-footer .ft-left h6 {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #FFFFFF;
    max-width: 544px;
}

.am-footer .sc-links {
    display: flex;
    align-items: center;
    gap: 40px;
}

.am-footer .sc-links h2 {
    font-weight: 600;
    font-size: 44px;
    line-height: 70px;
    letter-spacing: -2%;
    text-transform: capitalize;
    color: #FFFFFF;
}

.am-footer .sc-links ul {
    display: flex;
    align-items: center;
    gap: 8px;
}

.am-footer .sc-links ul li a {
    width: 55px;
    height: 55px;
    background-color: #C0DE48;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.am-footer .short-parah {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.am-footer .short-parah p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.am-footer .short-parah p a {
    font-weight: 400;
    text-decoration: none;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.am-footer .pay-card-img {
    padding: 13px 25px 13px 15px;
    background-color: #fff;
    border-radius: 8px;
}

.am-footer .ft-map {
    border-radius: 32px;
    width: 100%;
    height: 530px;
    overflow: hidden;
}

.am-footer .ft-map img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



@media (max-width: 1440px) {
    .am-banner .hr-cntn {
        display: flex;
        padding-left: 90px;
        gap: 30px;
    }

    .am-banner .hr-left-cntn h2 {
        font-size: 54px;
        line-height: 70px;
    }

    .am-banner .hr-left-cntn h1 {
        font-size: 140px;
        line-height: 80px;
    }

    .container {
        max-width: 1290px;
        overflow: hidden;
    }

    .sec-title {
        font-size: 85px;
        line-height: 95px;
    }

    .am-experience .exp-bot-card .exp-crd {
        padding: 61px 31px 50px 32px;
    }

    .am-experience .exp-bot-card .exp-crd img {
        max-width: 80px;
    }

    .am-experience .exp-bot-card .exp-crd h3 {
        font-size: 26px;
        line-height: 32px;
    }

    .am-footer .footer-cntn {
        display: flex;
        gap: 100px;
    }
}

@media (max-width: 1024px) {
    .am-banner .hr-cntn {
        padding: 0 15px;
        gap: 24px;
    }

    .am-banner .hr-left-cntn {
        gap: 24px;
    }

    .am-banner .hr-left-cntn h2 {
        font-size: 36px;
        line-height: 44px;
    }

    .am-banner .hr-left-cntn h1 {
        font-size: 98px;
        line-height: 120px;
        padding-bottom: 24px;
    }

    .am-banner .hr-left-cntn p {
        line-height: 24px;
    }

    .sec-title {
        font-size: 68px;
        line-height: 83px;
    }

    .am-experience .exp-bot-card {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .am-experience .exp-bot-card .exp-crd {
        padding: 81px 71px 70px 71px;
    }

    .am-experience .exp-bot-card .exp-crd img {
        max-width: 110px;
    }

    .am-experience .exp-bot-card .exp-crd h3 {
        font-size: 32px;
        line-height: 38px;
    }

    .am-footer .footer-cntn {
        flex-direction: column;
        gap: 80px;
    }

    .am-footer .ft-left {
        width: 100%;
    }

    .am-footer .ft-left form {
        width: 700px;
    }

    .am-footer .pay-card-img {
        width: max-content;
    }

    .am-experience .exp-bot-card .exp-crd:nth-child(2),
    .am-experience .exp-bot-card .exp-crd:nth-child(3) {
        background-color: #F2F2F2;
    }

    .am-experience .exp-bot-card .exp-crd:nth-child(4) {
        background-color: #F3FFDA;
    }
}

@media (max-width: 768px) {
    .am-banner .hr-cntn {
        flex-direction: column;
        gap: 40px;
    }

    .am-banner {
        padding: 120px 0;
    }

    .am-banner .hr-left-cntn {
        width: 100%;
        gap: 16px;
    }

    .am-banner .hr-left-cntn h1 {
        font-size: 78px;
        line-height: 65px;
        padding-bottom: 16px;
    }

    .am-banner .hr-left-cntn h2 {
        font-size: 39px;
    }

    a.site-btn {
        padding: 20px 25px 20px 25px;
        font-size: 16px;
        line-height: 16px;
    }

    .am-experience .exp-top {
        grid-template-columns: 1fr;
        gap: 24px;
    }

    .sec-title {
        font-size: 50px;
    }

    .am-experience .exp-bot-card .exp-crd h3 {
        font-size: 20px;
        line-height: 32px;
    }

    .disc {
        font-size: 18px;
    }

    .am-experience .exp-tp-right a.site-btn {
        margin-right: auto;
        margin-left: 0;
    }

    .am-experience .exp-bot-card {
        margin-top: 60px;
    }

    .am-experience .exp-bot-card .exp-crd {
        padding: 31px 21px 30px 21px;
        gap: 24px;
    }

    .am-experience .exp-bot-card .exp-crd img {
        max-width: 80px;
    }

    .am-experience .exp-bot-card .exp-crd h3 {
        font-size: 24px;
        line-height: 34px;
        max-width: 200px;
    }

    .am-footer {
        padding: 200px 0 180px 0;
    }

    .am-footer .ft-left form {
        width: 100%;
    }

    .am-footer .ft-left h6 {
        max-width: 100%;
        font-size: 18px;
        line-height: 24px;
    }

    .am-footer .short-parah p {
        font-size: 18px;
        line-height: 24px;
    }

    .am-footer .short-parah p a {
        font-size: 18px;
    }

    .am-footer .ft-left h4 {
        font-size: 22px;
        line-height: 24px;
    }

    .am-footer .sc-links h2 {
        font-size: 34px;
        line-height: 42px;
    }

    .am-footer .sc-links ul li a {
        width: 40px;
        height: 40px;
        border-radius: 8px;
    }

    .am-footer .sc-links ul li a img {
        width: 20px;
        height: 100%;
    }

}

@media (max-width: 435px) {
    .am-banner .hr-left-cntn h2 {
        font-size: 22px;
        line-height: 30px;
    }

    .am-banner .hr-left-cntn h1 {
        font-size: 56px;
        line-height: 35px;
    }

    .am-banner .hr-left-cntn p {
        font-size: 16px;
    }

    a.site-btn {
        padding: 20px 34px;
        font-weight: 500;
    }

    .sec-title {
        font-size: 37px;
        line-height: 47px;
    }

    .disc {
        font-size: 16px;
        line-height: 24px;
    }

    .am-experience .exp-bot-card {
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }

    .am-experience .exp-bot-card .exp-crd h3 {
        max-width: 100%;
    }

    .am-footer .ft-left {
        gap: 24px;
    }

    .am-footer .ft-left h4 {
        font-size: 19px;
    }

    .am-footer .ft-left h6 {
        font-size: 16px;
    }

    .am-footer .sc-links {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .am-footer .sc-links h2 {
        font-size: 28px;
    }

    .am-footer .short-parah {
        gap: 10px;
    }

    .am-footer .short-parah p {
        font-size: 16px;
    }

    .am-footer .short-parah p a {
        font-size: 16px;
    }

    .am-footer .ft-map {
        border-radius: 16px;
        height: auto;
    }

    .am-footer .pay-card-img img {
        width: 100%;
        object-fit: cover;
        height: auto;
    }

    .am-experience .exp-bot-card .exp-crd {
        padding: 51px 21px 50px 21px;
        gap: 24px;
    }
}